# Calculating solvent occlusions of residues upon binding

For this example, we take the protein-protein interaction (PPI) between human cationic trypsin and bovine pancreatic trypsin inhibitor (BPTI).

PDB ID: `2ra3` <br>
Trypsin: chain `A` <br>
BPTI: chain `C`

We are going to calculate the solvent occlusions of each residue in both chains, then display all **hot spot** residues, as defined by solvent occlusions of at least 80%.

In [1]:
import solvent_occlusion as so

## 1. Load PDB data

In [2]:
atoms = so.parse("2ra3", chainids=["A", "C"])
atoms.head(10)

  chainid resid resname atomid atomname       x       y       z element
0       A    16     ILE      1        N  19.370 -43.232  20.964       N
1       A    16     ILE      2       CA  18.063 -42.531  20.908       C
2       A    16     ILE      3        C  17.128 -43.218  21.889       C
3       A    16     ILE      4        O  16.811 -44.418  21.742       O
4       A    16     ILE      5       CB  17.469 -42.554  19.473       C
5       A    16     ILE      6      CG1  18.432 -41.955  18.448       C
6       A    16     ILE      7      CG2  16.103 -41.853  19.544       C
7       A    16     ILE      8      CD1  18.661 -40.423  18.524       C
8       A    17     VAL      9        N  16.684 -42.476  22.900       N
9       A    17     VAL     10       CA  15.719 -42.956  23.888       C

## 2. Calculate surface areas

In [3]:
areas = so.shrake_rupley(atoms, by_residue=True)
areas.head(10)

  chainid resid resname        area
0       A    16     ILE    0.656802
1       A    17     VAL   10.652931
2       A    18     GLY   43.085058
3       A    19     GLY   31.554994
4       A    20     TYR  112.179572
5       A    21     ASN   87.415025
6       A    22     CYS    3.940814
7       A    23     GLU  136.165003
8       A    24     GLU  102.968841
9       A    25     ASN   72.489528

## 3. Calculate solvent occlutions (w/ and w/o multiprocessing)

In [4]:
from time import time

start_time = time()
results = so.get_occlusions(atoms, use_mp=False)
elapsed_time = time() - start_time

print("Without multiprocessing: {:.2f} seconds".format(elapsed_time))

start_time = time()
results = so.get_occlusions(atoms, use_mp=True)
elapsed_time = time() - start_time

print("With multiprocessing: {:.2f} seconds".format(elapsed_time))

Without multiprocessing: 27.17 seconds
With multiprocessing: 15.87 seconds

In [5]:
results[results.occlusion >= 0.8]

    chainid resid resname    area_sgl   area_all  occlusion
23        A    41     PHE   35.103528   0.000000   1.000000
24        A    42     CYS    7.079055   0.000000   1.000000
39        A    57     HIS   80.353144  12.067067   0.849825
40        A    58     CYS    1.936897   0.000000   1.000000
80        A    99     LEU   41.676787   6.812648   0.836536
171       A   190     SER    9.195232   0.000000   1.000000
173       A   192     GLN  122.889052  15.263952   0.875791
174       A   193     GLY   13.911810   0.000000   1.000000
176       A   195     ALA   14.526724   0.000000   1.000000
190       A   213     VAL    7.747586   0.000000   1.000000
191       A   214     SER    7.536471   0.968448   0.871498
193       A   216     GLY   28.366487   0.656802   0.976846
203       A   226     GLY    4.842241   0.000000   1.000000
204       A   227     VAL    0.656802   0.000000   1.000000
233       C    14     CYS   54.914830   0.000000   1.000000
234       C    15     LYS  210.996902   0.000000   1.000000
235       C    16     ALA   56.135653   0.000000   1.000000
237       C    18     ILE   71.665174  13.558276   0.810811
252       C    38     CYS   34.446307   4.842241   0.859426

In [6]:
# end of notebook